## DATA SCIENCE NOTEBOOK 

# Introduction

Welcome to this data science exploration notebook! In this notebook, we will delve into various data science concepts, perform calculations, and showcase different tools and libraries commonly used in the field.

## Data Science Languages

- python
- R
- Julia
- SQL
- Scala

## Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- PyTorch

#

# Data Science Tools

| Tool              | Description                            |
|-------------------|----------------------------------------|
| Jupyter Notebook  | Interactive coding environment         |
| Anaconda          | Package manager and distribution       |
| Tableau           | Data visualization and analytics       |
| Apache Hadoop     | Distributed data processing framework  |
| Apache Spark      | Cluster computing system               |
| KNIME             | Visual data science platform           |

# Arithmetic Expression Examples

In this section, we will introduce a few examples of arithmetic expressions and calculations.

In [11]:
# Multiplication
result_multiply = 5 * 10
print("Multiplication Result:", result_multiply)

# Addition
result_add = 8 + 3
print("Addition Result:", result_add)

Multiplication Result: 50
Addition Result: 11

In [14]:
# Conversion of minutes to hours
minutes = 120
hours = minutes / 60
print("120 minutes is equal to", hours, "hours.")

120 minutes is equal to 2.0 hours.

# Objectives

- Understand fundamental data science concepts
- Explore popular data science libraries
- Perform arithmetic calculations
- Demonstrate the use of data science tools

# Author

Author's Name: Murugan B